.home{
    background: url( '../assets/imgs/IFES.png') center/90% no-repeat transparent/70% ;
    color:color($colors, dark);
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-ico{
    color:#ccc
}